.app-spinner-dots {
  width: 3.75rem;
  aspect-ratio: 2;
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

.app-spinner-dots-white {
  --_g: no-repeat radial-gradient(circle closest-side, #e2e8f0 90%, #0000);
}

.app-spinner-dots-black {
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
}

.app-spinner-dots-small {
  width: 1.5rem;
}

@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }

  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }

  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }

  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
