.game-list {
  margin: 0 1rem 1rem;
}

.game-list-el {
  margin-bottom: 0.4rem;
}

.game-list-el-name {
  width: 16rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-list-el-players {
  width: 4.2rem;
}

.game-list-el-join {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 0.3rem;
}